
@{
    ViewBag.Title = "Registro de Usuarios";
}

<script defer src="@Url.Content("~/Scripts/System/Administracion/Rol.js")" type="text/javascript"></script>



<h2>Registro de Usuarios</h2>
<input id="txtId" type="hidden" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row clearfix">
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Nombre (s)
                    </label>
                    <input class="form-control"
                           id="txtNombre" required />
                </div>
            </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Apellido (s)
                    </label>
                    <input class="form-control"
                           id="txtApellido" required />
                </div>
            </div>
        </div>

        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Numero de Documento
                    </label>
                    <input class="form-control"
                           id="txtDocumento" required />

                </div>
            </div>
        </div>

        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Correo
                    </label>
                    <input class="form-control"
                           id="txtCorreo" required />

                </div>
            </div>
        </div>
       
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Fecha Nacimiento
                    </label>
                   <input type="date" id="dtFechaNacimiento" />
                </div>
            </div>
        </div>



        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Tipo Documento
                    </label>
                    
                        <select id="selTipoDoc">
                            <option value="-1">Seleccione</option>
                        </select>
                    

                </div>
            </div>
        </div>


        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Pais
                    </label>
                 
                        <select id="selPais" onchange="cargarDepartamento();">
                            <option value="-1">Seleccione</option>
                        </select>
                    
                </div>
            </div>
        </div>

        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Departamento
                    </label>
                    
                        <select id="selDepartamento" onchange="cargarMunicipio();">
                            <option value="-1">Seleccione</option>
                        </select>
                   
                </div>
            </div>
        </div>


        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="">
                <div class="">
                    <label>
                        Municipio
                    </label>
                   
                        <select id="selMunicipio">
                            <option value="-1">Seleccione</option>
                        </select>
                   

                </div>
            </div>
        </div>


    </div>

</div>
<br />
<div class="container">

    <button type="button" class="btn btn-success" onclick="guardar();">Guardar</button>
    <button type="button" class="btn btn-success" onclick="buscar();">Buscar</button>
    <button type="button" class="btn btn-success" onclick="guardar();">Modificar</button>
    <button type="button" class="btn btn-success" onclick="eliminar();">Eliminar</button>
    <button type="button" class="btn btn-success" onclick="limpiar();">Limpiar</button>

</div>

<br />
<div class="container">
    <h2>Lilstado</h2>
</div>
<div class="table-responsive" id="listado"></div>

<div class="container">
  
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Aviso</h1>
                @*</div>*@
                <div class="modal-body">
                    <span id="avisos"></span>
                </div>
                <div class="row">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
            </div>

        </div>
    </div>

</div>
