@{
    ViewBag.Title = "Departamentos";
}

<script defer src="@Url.Content("~/Scripts/System/Administracion/Departamento.js")" type="text/javascript"></script>

<h2>Departamentos</h2>
<input id="txtId" type="hidden" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row clearfix">
        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="">
                <div class="">
                    <label>
                        Nombre
                    </label>
                    <input class="form-control"
                           id="txtNombre" required />
                </div>
            </div>
        </div>

        @*<select id="selPais">
            <option value="-1">Seleccione</option>
        </select>*@
            
        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="">
                <div class="">
                    <label >Pais</label>
                    <select class="form-control" id="selPais">
                        <option value="-1">Seleccione</option>
                    </select>
                </div>
            </div>
        </div>

        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="">
                <div class="">
                    <label>
                        Descripción
                    </label>
                    <textarea class="form-control" rows="4" id="txtDescripcion"></textarea>

                </div>
            </div>
        </div>
        @*<div class="col-sm-3">
                <div class="">
                    <div class="form-group form-group-default required" ng-class="{ 'has-error' : peopleForm.last_name.$invalid && !peopleForm.last_name.$pristine }">
                        <label>
                            Primer Apellido
                        </label>
                        <input class="form-control" name="last_name" ng-model="people.last_name"
                               data-container="body" data-placement="top" data-content="El primer apellido es requerido" data-trigger="manual" validate-attached-form-element required />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="">
                    <div class="form-group form-group-default required" ng-class="{ 'has-error' : peopleForm.last_name_two.$invalid && !peopleForm.last_name_two.$pristine }">
                        <label>
                            Segundo Apellido
                        </label>
                        <input class="form-control" name="last_name_two" ng-model="people.last_name_two" ui-jq="popover" data-container="body" data-placement="top" data-content="El segundo apellido es requerido" data-trigger="manual" validate-attached-form-element required />
                    </div>
                </div>
            </div>*@
    </div>

</div>
<br />
<div class="container">

    <button type="button" class="btn btn-success" onclick="guardar();">Guardar</button>
    <button type="button" class="btn btn-success" onclick="buscar();">Buscar</button>
    <button type="button" class="btn btn-success" onclick="guardar();">Modificar</button>
    <button type="button" class="btn btn-success" onclick="eliminar();">Eliminar</button>
    <button type="button" class="btn btn-success" onclick="limpiar();">Limpiar</button>

</div>

<br />
<div class="container">
    <h2>Lilstado</h2>
</div>
<div class="table-responsive" id="listado"></div>



@**@

@*<table class="contenedorContenido">

    <tr>
        <td>
            <h2>Departamentos</h2>
        </td>
    </tr>
    <tr>
        <td><input id="txtId" type="hidden" /></td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td>Pais</td>
                    <td>
                        <select id="selPais">
                            <option value="-1">Seleccione</option>
                        </select>
                    </td>
                    <td>Nombre</td>
                    <td><input type="text" id="txtNombre" /></td>
                    <td>Descripcion</td>
                    <td>
                        <textarea id="txtDescripcion"></textarea>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Guardar" onclick="guardar();" />
            <input type="button" value="Buscar" onclick="buscar();" />
            <input type="button" value="Modificar" onclick="guardar();" />
            <input type="button" value="Eliminar" onclick="eliminar();" />
            <input type="button" value="Limpiar" onclick="limpiar();" />
        </td>
    </tr>

    <tr>
        <td>
            <br />
        </td>
    </tr>

    <tr>
        <td colspan="4">
            <div id="listado"></div>
        </td>
    </tr>
</table>*@