@{
    ViewBag.Title = "MainMenu";
}

<link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />

<td class="contenedorMenu">
    <h2>Menu</h2>




    <ul class="menu">
        <li>
            <a id="goToHome" href="/">INICIO</a>
        </li>
        <li>
            <a href="">ADMINISTRACION</a>
            <ul>
                <li>
                    <a id="goToBodega" href="/Administracion/Bodega">Bodegas</a>
                </li>                
            </ul>
        </li>
    </ul>
</td>