@{
    ViewBag.Title = "MainMenu";
}

<link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />

<td class="contenedorMenu">
    <h2>Menu</h2>

    <ul class="menu">        
        <li>
            <a href="">ADMINISTRACION</a>
            <ul>
                <li>
                    <a id="goToBodega" href="/Administracion/Bodega">Bodegas</a>
                </li> 
                <li>
                    <a id="goToEstadoCita" href="/Administracion/EstadoCita">Estados Citas</a>
                </li>  
                <li>
                    <a id="goToEstadoPrescripcion" href="/Administracion/EstadoPrescripcion">Estados Prescripciones</a>
                </li>
                <li>
                    <a id="goToIngresoEconomico" href="/Administracion/IngresoEconomico">Ingresos Economicos</a>
                </li>       
                <li>
                    <a id="goToLaboratorio" href="/Administracion/Laboratorio">Laboratorios</a>
                </li>
                <li>
                    <a id="goToMedicoHorario" href="/Administracion/MedicoHorario">Horarios Medicos</a>
                </li>
                <li>
                    <a id="goToProducto" href="/Administracion/Producto">Productos</a>
                </li>
                <li>
                    <a id="goToRol" href="/Administracion/Rol">Roles</a>
                </li>
                <li>
                    <a id="goToTipoAfiliacion" href="/Administracion/TipoAfiliacion">Tipos de Afiliacion</a>
                </li>
                <li>
                    <a id="goToTipoDocumento" href="/Administracion/TipoDocumento">Tipos Documentos</a>
                </li>
                <li>
                    <a id="goToTipoMedico" href="/Administracion/TipoMedico">Tipos Medicos</a>
                </li>
            </ul>
        </li>
    </ul>
</td>