@{
    ViewBag.Title = "MainMenu";
}

<link href="@Url.Content("~/Content/estilos_menu.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/menu.js")" type="text/javascript"></script>




@*<td class="contenedorMenu">*@



@*<header>

    <div class="menu_bar">
        <a href="#" class="bt-menu"><span class="icon-list2"></span>Menú</a>
    </div>

    <nav>
        <ul>
            <li><a href="#"><span class="icon-home"></span>Inicio</a></li>
            <li><a href="#"><span class="icon-office"></span>Trabajos</a></li>
            <li class="submenu">
                <a href="#"><span class="icon-rocket"></span>Proyectos<span class="caret icon-arrow-down6"></span></a>
                <ul class="children">
                    <li><a href="#">SubElemento #1 <span class="icon-dot"></span></a></li>
                    <li><a href="#">SubElemento #2 <span class="icon-dot"></span></a></li>
                    <li><a href="#">SubElemento #3 <span class="icon-dot"></span></a></li>
                </ul>
            </li>
            <li><a href="#"><span class="icon-earth"></span>Servicios</a></li>
            <li><a href="#"><span class="icon-mail"></span>Contacto</a></li>
        </ul>
    </nav>
</header>*@
    <h2>Menu</h2>

    <div class="container" style="text-align: left">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-folder-close">
                                    </span>Administración
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                                            <a id="goToBodega" href="/Administracion/Bodega">Bodegas</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span>
                                            <a id="goToEstadoCita" href="/Administracion/EstadoCita">Estados Citas</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span>
                                            <a id="goToEstadoPrescripcion" href="/Administracion/EstadoPrescripcion">Estados Prescripciones</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToIngresoEconomico" href="/Administracion/IngresoEconomico">Ingresos Economicos</a>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToLaboratorio" href="/Administracion/Laboratorio">Laboratorios</a>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToMedicoHorario" href="/Administracion/MedicoHorario">Horarios Medicos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToProducto" href="/Administracion/Producto">Productos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToRol" href="/Administracion/Rol">Roles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToTipoAfiliacion" href="/Administracion/TipoAfiliacion">Tipos de Afiliacion</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToTipoDocumento" href="/Administracion/TipoDocumento">Tipos Documentos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span>
                                            <a id="goToTipoMedico" href="/Administracion/TipoMedico">Tipos Medicos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                                            <a id="goToPais" href="/Administracion/Pais">Paises</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                                            <a id="goToDepartamento" href="/Administracion/Departamento">Departamentos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span>
                                            <a id="goToMunicipio" href="/Administracion/Municipio">Municipios</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="glyphicon glyphicon-th">
                                    </span>Paciente
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="/Paciente/RegistroPaciente">Resgistro</a> <span class="label label-success"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Invoices</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Tex</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="glyphicon glyphicon-user">
                                    </span>Account
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Change Password</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                Delete Account
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Reports
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>

    @*<ul class="menu">
        <li>
            <a href="">ADMINISTRACION</a>
            <ul>
                <li>
                   
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                   
                </li>
                <li>
                    
                </li>
                <li>
                   
                </li>
                <li>
                   
                </li>
                <li>
                   
                </li>
            </ul>
        </li>
    </ul>*@
@*</td>*@