
@{
    ViewBag.Title = "TopBanner";
}

<link href="@Url.Content("~/Content/Banner.css")" rel="stylesheet" type="text/css" />


@*<div class="banner">
    <h2>Hospital Los Rosales</h2>
</div>*@

<header class="masthead">
    <div class="overlay">
        <div class="container">
            <h1 style="color:white !important">Hospital Los Rosales</h1>
        </div>
    </div>
</header>


