
@{
    ViewBag.Title = "TopBanner";
}

<link href="@Url.Content("~/Content/Banner.css")" rel="stylesheet" type="text/css" />


<div class="banner">
    <h2>Hospital Los Rosales</h2>
</div>


