@{
    ViewBag.Title = "Proyecto Final .Net III";
}

<h2>@ViewBag.Message</h2>


@{bool hasSession = ((HttpContext.Current.Session.Count > 0) ? true : false);}
@{if (hasSession)
{
    @:<h2>Datos de contacto para dudas e inquietudes:</h2>

    @:Correo: <a href="mailto:Jjmb2789@gmail.com" target="_top">Jjmb2789@gmail.com</a>
    @:Correo: <a href="mailto:lotero021095@gmail.com" target="_top">lotero021095@gmail.com</a>    
    
    <br />
    @:Celular (para llamar o whatsapp):313-660-79-85 - 304-520-72-07 
    }

}


